# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/

# ============================================
# .NET Build Artefacts
# ============================================

**/bin/
**/obj/
*.log

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test Results
TestResults/
*.trx

# AMHARC local SQLite database
agent-windows/src/AmharcAgent.Api/amharc.db
agent-windows/src/AmharcAgent.Api/amharc.db-shm
agent-windows/src/AmharcAgent.Api/amharc.db-wal
agent-windows/src/AmharcAgent.Api/amharc.pre-migrations.db
agent-windows/src/AmharcAgent.Api/Properties/launchSettings.json
